@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .select-none {
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari, Chrome, Opera, Samsung */
      -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none;
      user-select: none;
    }
  
    .select-text {
      user-select: text;
    }
  
    .select-all {
      user-select: all;
    }
  
    .select-auto {
      user-select: auto;
    }

    @keyframes gradient-move {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
  
    .animated-gradient {
      background: linear-gradient(270deg, black, rgb(0, 16, 16), black);
      background-size: 400% 400%;
      animation: gradient-move 8s ease infinite;
    }
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.cm-editor {
  height: 100% !important;
}
